<h1>Add New Species</h1>

<form action="/species" method="post">
  <label for="species_name">Species</label>
  <input id="species_name" name="species[name]" type="text">
  <button>Add Species</button>
</form>
